<HTML>
    <bodyBody>
    background-image:url(https://cn.i.cdn.ti-platform.com/cnapac/content/1156/showpage/the-amazing-world-of-gumball/au/showsquare.png);
             background-repeat: no-repeat;
             background-size: auto;